[Desktop Entry]
Type=Application
Name=Chisel
Comment=Sculpt 3D models
Exec=chisel
Icon=chisel
Categories=Graphics;3DGraphics;
Terminal=false
StartupWMClass=Chisel
